i {
  color: red;
}

.links a{
text-decoration: none;
}

a[href*=".com"]{
  color: black;
}

a{
  color: green;
}

.line {
  text-decoration: underline;
}

.line.p{
  color: gray;
}

b{
  color: purple;
}

.odd .line{
  color: blue;
}

.odd i{
  text-decoration: underline;
}

.even b{
  text-decoration: underline;
}

a[href^="http://"]{
  color: red;
}

a[href*=".com"]{
  color: black;
}

p .line{
  color: gray;
}
